body 
{
    /*Prevents overflow on the x axis (no Side scroll) */
    overflow-x: hidden;
    background:#0685C9;
    font-family: "Poltawski Nowy", serif;
    margin:0px;
}

/*Title And Desc*/
.TitleAndDesc  .logo-box
{
height:25%;
width:5%;
background-color:#6D2C2E;
border-radius: 25px;
}

.TitleAndDesc .logo-box .logo
{
font-family: "Kode Mono", serif;
font-size: 72px;
height:25%;
width:10px;
text-align:center;


}